/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Base
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
    box-sizing: border-box;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * *
Main
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
main {
    height: 600px;
    width: 100%;
}
.container:hover .first, .container:hover .second{
/*    can combine all of the container hover titles to make it all one CSS statement*/
    transform: scale(1.5);
    transition-duration: .5s;
}
/*
.container:hover .second{
    transform: scale(1.5);
    transition-duration: .5s;
}
*/
.container:hover .third{
    transform: scale(1.5);
    transition-duration: .5s;
}
.container:hover .fourth{
    transform: scale(1.5);
    transition-duration: .5s;
}
.container:hover .fifth{
    transform: scale(1.5);
    transition-duration: .5s;
}
.container:hover .sixth{
    transform: scale(1.5);
    transition-duration: .5s;
}
.container:hover .seventh{
    transform: scale(1.5);
    transition-duration: .5s;
}
.container:hover .eigth{
    transform: scale(1.5);
    transition-duration: .5s;
}

.column{
    padding: 0;
    margin: 0;
}
.container{
    margin: 5px;
    height: 200px;
    overflow: hidden;
}
.first{
        background-image: url(../10-dithering-opt.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.second{
        background-image: url(../1458289957powerful-images3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.third{
        background-image: url(../5587815-images.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.fourth{
        background-image: url(../desktop-year-of-the-tiger-images-wallpaper.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.fifth{
        background-image: url(../images-170.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.sixth{
        background-image: url(../images.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.seventh{
        background-image: url(../img_fjords.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}

.eigth{
        background-image: url(../TS_AnonHP_462882495_01.jpg);
    background-position: 50% 50%;
    background-size: cover;
    transition-duration: .5s;
    height: 200px;
}
.overlay{
    height: 200px;
    position: relative;
    top: -200px;
    transition-duration: .2s;
}
.container:hover .overlay{
    background: rgba(50, 50, 50, .6);
    transition-duration: .2s;

}